<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="app.js"></script>
	</head>
	<body ng-app="app">
		<div ng-controller="module1">
			<div>
				<input type="text" ng-model="foods" placeholder="Food for lunch" />
				<br />
				<!-- TODO: use ng-required-->
				<span ng-show="foods.length === 0">This Input field is required</span> 
			</div>
			<div>
				<button ng-click="checkFood(foods)">Check If Too Much</button>
				<br />
				<span>{{message}}</span>
			</div>
		</div>
		
	</body>
</html>